@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.main-section{
    position: relative;
    height: 100vh;
}
.nav-heading{
font-family: "Lato", sans-serif;
font-weight: 700;
font-size: 40px;

}
.nav-logo{
    height: 39px;
    width: 39px;
}
.nav-head{
    height: 123px;
    position: relative;
}
.nav-logo-text-content{
    gap: 20px;
    display: flex;
    margin-left: 30px;
}

.nav-links-content{
    display: flex;
    justify-content: center;
 
}
.nav-links-content ul{
    gap: 20px;
}
.nav-links-content ul li {
    cursor: pointer;
    font-family: "oswald";
    font-weight: 500;
}
.button-dropdown {
    cursor: pointer;
    font-family: "oswald";
    font-weight: 500;
margin-top: 8px;
border: none;
}
.nav-links-list i{
    margin-top: 4.5px;
    font-weight: 400;
    color: black;
}

.nav-btn-content{
    display: flex;
    justify-content: end;
}
.nav-links-list-home{
    border-bottom: 3px solid rgba(246, 79, 89, 1);
}
.nav-links-list-home a{
    color: rgba(246, 79, 89, 1);
    
}
.navbar-nav .nav-link.show {
        color: #F64F59 !important;
    }
    .nav-link:hover {
        color: #F64F59 !important;
    }
.nav-btn-content{
    margin-right: 30px;
}
.nav-btn-content button{
    height: 42px;
    width: 137px;
    font-size: 22px;
    /* line-height: 23.2px; */
    border-radius: 10px;
    border: 3px solid black;
    background: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.nav-btn-content button:hover{
    background-color: #F64F59;
    border: none;
    color: #ffff;
}
.nav-btn-content-mobile button{
    display: none;
}
.home-part{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background:linear-gradient(to left,rgba(255, 255, 255, 0) ,
    rgba(255, 255, 255,1) );
    background-color: 
    rgba(221, 221, 221, 1);
}
.home-part-1-content{
    display: flex;
    flex-direction: column;
     position: absolute;
     top: 31%;
     left: 18%;
}
.home-part-1-head{
    font-size: 59px;
    line-height: 80px;
    width: 529px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}
.home-part-1-para{
    width: 500px;
    font-size: 15.9px;
    line-height: 30.6px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: rgba(111, 109, 113, 1);
    margin-top: 30px;
}
.home-part-1-btn{
    width: 210px;
    height: 55px;
    background-color:   rgba(246, 79, 89, 1);
    border: none;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 0px rgba(246, 79, 89, 0.45);
    margin-top: 30px;
    cursor: pointer !important;
}
.home-part-1-btn:hover{
background-color: #fff;
}

.home-part-2-content{
   overflow: hidden;
    opacity: 1;
}
.home-part-2-one{
    width: 290px;
    height: 290px;
    background-color: rgba(222, 55, 65, 1);
    opacity: 0.2;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    top: 49%;
   overflow: hidden;
}
.home-part-2-two{
    width: 150px;
    height: 150px;
    background-color: rgba(254, 254, 254, 1);
    opacity: 0.2;
    border-radius: 100%;
    position: absolute;
    right: 8%;
    top: 44%;
    overflow: hidden;
}


/* part -2 */
.home-part-2-image{
    width: 100%;
    background-color: #F64F59;
    height: 180px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.home-part-2-image img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.home-part-3-content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-part-3-content-1 h2{
    width: 749px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: "Oswald";
    font-weight: 500;
    line-height: 80px;
    text-transform: capitalize;
}
.home-part-3-content-1 p{
    width: 690px;
    text-align: center;
    font-size: 16px;
    font-family: "oswald";
    font-weight: 400;
    line-height: 30.6px;
    color: 
    rgba(111, 109, 113, 1);
}
.row-card-1-main{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.row-card-2-main{
    display: flex;
    justify-content: center;
}
.row-card-1{
    width: 890px;  
}
.row-card-2{
    width: 890px;
}
.div-card img{
    width: 65px;
    height: 50px;
    object-fit: contain;
}
.div-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}
.div-card h2{
    font-size: 18px;
    font-family: "Oswald";
    font-weight: 500;  
   margin-top: 10px;
   margin-bottom: 2px;
}
.div-card p{
    font-size: 18px;
    font-family: "Oswald";
    font-weight: 500;
}
/* part-4 */
.home-part-4-content-right{
    height: 440px;
    min-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px 0;
}
.home-part-4-content-right img{
    width: 100%;
    height: 100%;
}

.home-part-4{

    margin: 100px  0 ;
}
.home-part-4-content-left{
    width: 470px;
}
.home-part-4-content-left-head{
    width: 400px;
}
.home-part-4-content-left-head h1
{
    font-size: 40px;
    font-family: "Oswald";
    font-weight: 500;
    line-height: 80px;  
}
.home-part-4-content-left-head p{
    font-size: 17.4px;
    font-family: "Oswald";
    font-weight: 400;
    line-height: 20.6px;  
    width: 433px;
    color: rgba(111, 109, 113, 1);
    margin-bottom: 29px;
}
.home-part-4-content-left-two-content{
    display: flex;
}

.part-4-left-side{
    margin-right: 17px;
}
.part-4-lf-one p{
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Oswald";
    font-weight: 500;
    background-color: rgba(246, 79, 89, 1);
    box-shadow: 0px 2px 50px 0px 
    rgba(255, 67, 79, 0.35);
}
.part-4-lf-one img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -10px;
    height: 50px;
}

.part-4-lf-two p{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Oswald";
    font-weight: 500;
    box-shadow: 0px 3px 24px 0px 
    rgba(115, 114, 114, 0.519);
}
.part-4-lf-two img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: -10px;
    height: 50px;
}
.part-4-lf-three p{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Oswald";
    font-weight: 500;
    box-shadow: 0px 3px 24px 0px 
    rgba(115, 114, 114, 0.519);
}
.part-4-right-side{
    width: 100%;
}
.part-4-rs-one h3{
    font-size: 22px;
    font-family: "Oswald";
    font-weight: 500;
}
.part-4-rs-one p{
    width: 400px;
    font-size: 17px;
    font-family: "Oswald";
    font-weight: 400;
    line-height: 22px;
    color: rgba(111, 109, 113, 1);
}
.part-4-rs-two h3{
    font-size: 22px;
    font-family: "Oswald";
    font-weight: 500;
    margin-top: 24.5px;
    color: rgba(111, 109, 113, 1);
}
.part-4-rs-two p{
    width: 400px;
    font-size: 17px;
    font-family: "Oswald";
    font-weight: 400;
    line-height: 22px;
    color: rgba(111, 109, 113, 1);
}
.part-4-rs-three h3{
    font-size: 22px;
    font-family: "Oswald";
    font-weight: 500;
    margin-top: 24.5px;
    color: rgba(111, 109, 113, 1);
}
.part-4-rs-three p{
    width: 400px;
    font-size: 17px;
    font-family: "Oswald";
    font-weight: 400;
    line-height: 22px;
    color: rgba(111, 109, 113, 1);
}

/* part-5 */
.home-part-5-content-head{
    text-align: center;
}
.home-part-5-content-head h1{
    font-size: 50px;
    font-family: "Oswald";
    font-weight: 500;
}
.home-part-5-content-head p{
    font-size: 15.5px;
    font-family: "Oswald";
    font-weight: 400;
    width: 670px;
    margin: 0 auto;
    color: #6F6D71;
    margin-top: 30px;
    justify-content: center;
}
.part-5-col-1{
    width: 240px;
    height: 240px;
    background-color: #dddd;
    border-radius: 10px;
    margin: 0 auto;
}
.part-5-col-one{
    width: 240px;
    height: 240px;
    background-color: #dddd;
    border-radius: 10px;
    margin: 0 auto;
    transition: all .2s;
}
.part-5-col-one:hover .part-5-col-one-content-main{
display: block;
transition: all .5s;
}
.part-5-col-one-content{
    top: 65%;
    width: 90%;
    align-items: center;
    background-color: #F64F59;
    border-radius: 10px;
    margin: 0 auto;
    left: 5%;
}
.part-5-col-one-content-main{
    display: none;
 
}

.part-5-row-1{
    width: 860px;
    margin: 0 auto;
    margin-top: 70px;
}
.part-5-row-2{
    width: 860px;
    margin:20px  auto;
}
.part-5-col-one-content-1 p{
    font-size: 16px;
    font-family: "Oswald";
    font-weight: 400;
    color: #fff;
}
.part-5-col-one-content-1 h4{
    font-size: 19px;
    font-family: "Oswald";
    font-weight: 500;
    color: #fff;
}
.part-5-icon{
    color: #fff;
}
.part-5-down-image{
  width: 100%;
}
.part-5-down img{
    width: 100%;
    margin-top: -170px;
    z-index: -10;
}

/* PART-6 */
.home-part-6-content{
    margin-top: 90px;
}
.home-part-6-content-head{
    text-align: center;
    margin-top: -350px;
}
.home-part-6-content-head h1{
    font-size: 50px;
    font-family: "Oswald";
    font-weight: 500;
}
.home-part-6-content-head p{
    font-size: 15.5px;
    font-family: "Oswald";
    font-weight: 400;
    width: 670px;
    margin: 0 auto;
    color: #6F6D71;
    margin-top: 30px;
    justify-content: center;
}
.home-part-6-content-leftside{
    width: 100%;
    height: 400px;
    background-color: #DDDDDD;
}
.home-part-6-content-rightside{
    padding: 10px;
}
.accordion-1{
    margin: 20px 0;
}
.accordion-item{
    border-radius: 10px;
    border: 2px solid #F64F59;
}


/* accordion */
.accordion-button:not(.collapsed)::after {
    background-image:url("../assets/Home/part-8/minus.png") !important;
}
.accordion-button::after {
    background-image:url("../assets/Home/part-8/plus.png") !important;
}
.accordion-button:not(.collapsed)::before {
    background-image:url("../assets/Home/part-8/plus.png") !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
    border-top: 2px solid #F64F59;
    border-left: 2px solid #F64F59;
    border-right: 2px solid #F64F59;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #F64F59 !important;
}
.accordion-button:focus {
    border-color:#F64F59 !important;
    box-shadow:none !important;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius:0px;
}
.accordion-body {
    border-bottom: 2px solid #F64F59;
    border-left: 2px solid #F64F59;
    border-right: 2px solid #F64F59;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.accordion-item{
    margin: 20px 0;
}

/*part-7  */
.home-part-7{
    margin-top: 50px;
    background-color: #010101;
}
.home-part-7-content-head{
    text-align: center;
    padding-top: 40px;

}
.home-part-7-content-head h1{
    font-size: 50px;
    font-family: "Oswald";
    font-weight: 500;
    color: #fff;
}
.home-part-7-content-head p{
    font-size: 15.5px;
    font-family: "Oswald";
    font-weight: 400;
    width: 670px;
    margin: 0 auto;
    color: #FEFEFE;
    margin-top: 30px;
    justify-content: center;
}

/* part-8 */
.home-part-8{
    margin-top: 50px;
}
.home-part-8-content-head{
    text-align: center;
}
.home-part-8-content-head h1{
    font-size: 50px;
    font-family: "Oswald";
    font-weight: 500;
}
.home-part-8-content-head p{
    font-size: 15.5px;
    font-family: "Oswald";
    font-weight: 400;
    width: 670px;
    margin: 0 auto;
    color: #6F6D71;
    margin-top: 30px;
    justify-content: center;
}
.home-part-8-content{
    width: 1200px;
    margin: 65px auto;
}
.part-8-col-one{
    background-color: #dddd;
    position: relative;
    width: 350px;
    height: 300px;
    /* z-index: 10; */
    box-shadow: 2px 6px 19px px #dddd;
}
.part-8-col-one:hover .part-8-col-one-content-main{
    visibility: visible;
}
.part-8-col-one-content{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,26%);
    width: 300px;
    height: 180px;
    padding: 17px 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 14px 3px #dddd;
}

.part-8-col-one-content-main{
    /* width: 1000px; */
   visibility: hidden;
}

.part-8-col-one-content-1{
    display: flex;
    align-items: center;
}
.part-8-col-one-content-1 p{
display: flex;
align-items: center;
justify-content: center;
margin: 0 10px;
color: #6F6D71;
font-family: "Oswald";
font-weight: 400;
font-size: 20px;
}
.part-8-col-one-content-2{
    font-family: "Oswald";
font-weight: 500;
font-size: 20px;
margin-top: 10px;
margin-bottom: 20px;
}
.part-8-col-one-content-3{
    display: flex;
    margin-bottom: 0;
}
.part-8-col-one-content-3 p{
    color: #6F6D71;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 14px;
}
.part-8-col-one-content-3 img{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    margin: 2px 6px;
}

/* footer */
.footer{
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    padding: 30px 0;
}
.footer-main{
    margin-bottom: 50px;
}
.footer-content-1 h1{
    font-size: 23px;
    font-family: "Oswald";
    font-weight: 500;
    margin-bottom: 25px;
}
.footer-content-1 p{
    margin-bottom: 5px;
    font-size: 17px;
    font-family: "Oswald";
    font-weight: 400;
    color: #C4C4C4;
}
.footer-content-2-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content-2 h1{
    font-size: 23px;
    font-family: "Oswald";
    font-weight: 500;
    margin-bottom: 25px;
}
.footer-content-2 p{
    margin-bottom: 5px;
    font-size: 15.7px;
    font-family: "Oswald";
    font-weight: 400;
    color: #C4C4C4;
}
.footer-content-3-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.footer-content-3 h1{
    font-size: 23px;
    font-family: "Oswald";
    font-weight: 500;
    margin-bottom: 25px;
}
.footer-content-3 p{
    margin-bottom: 5px;
    font-size: 17px;
    font-family: "Oswald";
    font-weight: 400;
    color: #C4C4C4;
}
.footer-line hr{
    height: 2px;
    background-color: #EBE9ED;
}
.footer-end{
    font-size: 16px;
    font-family: "Oswald";
    font-weight: 400;
    color: #FEFEFE;
    margin-top: 25px;
    margin-bottom: 43px;
    margin-left: 105px;
}

/*image slider  */

.main-image{
    position: relative;
}
.slider {
    overflow: hidden;
    width: 100%; /* Adjust as needed */
    margin: 60px auto;
    /* border: 2px solid red; */
    padding-bottom: 10px;
  }

  /* Slider wrapper for the images */
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  /* Individual slide */
  .slide {
 min-width: 250px;
 margin: 0px 25px;
  }
  .slide .slider-div{
    width: 100%;
  }

  /* Navigation buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    /* border: 2px solid red; */
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Button hover effect */
  .prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
  }
  /* Navigation indicator container */
  .indicator-container {
    display: flex;
    justify-content: center;
  }

  /* Navigation indicator dot */
  .indicator-dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    margin-bottom: 60px;
  }

  /* Active indicator dot */
  .indicator-dot.active {
    background-color: #333;
  }


@media (max-width:1300px) {
    .home-part-1-content{
        left: 15%;
    }
    }

@media (max-width:1200px) {
.home-part-1-content{
    left: 12%;
}
.home-part-6-content-head{
    text-align: center;
    margin-top: -250px;
}
.home-part-8-content{
    width: 900px;
    /* margin: 0auto; */
}
.footer-content-2-main{
    justify-content: end;
    align-items: end;
}
.footer-content-3-main{
    justify-content: start;
    align-items: start;  

}
}

@media (max-width:1045px) {
    .nav-logo-text-content{
        margin-left: 10px;
    }
    .home-part-6-content-head{
        text-align: center;
        margin-top: -190px;
    }
    .nav-links-content ul{
        gap: 15px 0;
        margin-bottom: 0;
    }
}

@media (max-width:992px) {
    .nav-btn-content{
        display: none;
    }
    .nav-links-content{
        justify-content: start;
        padding-right: 100px;
        background-color: #1c1a1ae0;
        width: 100%;
        padding: 20px 0px 20px 40px;
        margin-top: 10px;
        /* height: 100vh; */
    }
    .nav-links-content ul li a{
        color: #fff;
    
    }
    .navbar-nav .nav-link.show {
        color: #F64F59 !important;
    }
    .nav-link:hover {
        color: #F64F59 !important;
    }
    .nav-links-list ul li a{
        color: black
    }
    .nav-head{
        height: 0;
        
    }
    .part-5-row-1{
        width: 700px;
    }
    .part-5-row-2{
        width: 700px;
    }

    .part-5-col-1{
        width: 200px;
        height: 200px;
    }
    .part-5-col-one{
        width: 200px;
        height: 200px;
    }
    .part-5-col-one-content{
        top: 60%;
    }
    .home-part-6-content-head{
        text-align: center;
        margin-top: -140px;
    }
    .part-5-down img{
        margin-top: -140px;
    }
    .home-part-6-content{
        margin-top: 10px;
    }
    .home-part-8-content{
        width: 800px;
  }
  .nav-btn-content-mobile{
    margin: 0 auto !important;
   
  }
  .nav-btn-content-mobile button{
   display: block;
    /* height: px; */
    /* width: 137px; */
    font-size: 20px;
    /* line-height: 23.2px; */
    border-radius: 10px;
    border: 3px solid black;
    background: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: #fff;
    padding: 10px 10px;
    margin-left: -30px;
   
  }
  .nav-btn-content-mobile button:hover{
    background-color: #F64F59;
    border: none;
    color: #ffff;
}
.navbar-collapse {
  
    flex-direction: column !important;
    justify-content: start !important;
    align-items: start !important;

}

}

@media (max-width:837px) {
    .home-part-8-content{
        width: 700px;
  }
  .part-8-col-one{
    width: 300px;
    height: 250px;
  }
  .part-8-col-one-content{
   width: 250px;
   height: 150px;
  }
  .part-8-col-one-content-2{
    font-size: 17px;
    margin-top: 5px;
margin-bottom: 10px;
  }
}

@media (max-width:769px) {
    .home-part-3-content-1 h2{
        width: 600px;
        font-size: 40px;
    }
    .home-part-3-content-1 p{
        width: 558px;
        font-size: 12.7px;
        line-height: 20px;
    }
    .home-part-5-content-head h1{
        font-size: 40px;
    }
    .home-part-5-content-head p{
        width: 520px;
    }
    .home-part-6-content-head h1{
        font-size: 40px;
    }
    .home-part-6-content-head p{
        width: 520px;
    }
    .home-part-7-content-head h1{
        font-size: 40px;
    }
    .home-part-7-content-head p{
        width: 520px;
    }
    .home-part-8-content-head h1{
        font-size: 40px;
    }
    .home-part-8-content-head p{
        width: 520px;
    }
    .part-5-row-1{
        width: 500px;
    }
    .part-5-row-2{
        width: 500px;
    }
    .part-5-col-one{
        width: 180px;
        height: 180px;
    }
    .part-5-col-one-content{
        top: 55%;
    }
    .home-part-6-content-head{
        text-align: center;
        margin-top: -120px;
    }
    .part-5-down img{
        margin-top: -120px;
    }
    .home-part-6-content-leftside{
        width: 100%;
        height: 400px;
        margin-top: 0px;
    }
    .home-part-8-content{
        width: 350px;
  }
  .footer-content-1-main{
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
  .footer-content-2-main{
    justify-content: center;
    align-items: center;
}
.footer-content-3-main{
    justify-content: start;
    align-items: start;  
  width: 300px;
  margin: 0 auto;
}
.footer-end{
  width: 218px;
  margin-left: 222px;
}
.slide {
    min-width: 220px;
    margin: 0px 25px;
     }
     .indicator-dot {
        margin-bottom: 40px;
      }
}

@media (max-width:640px) {
    .home-part-1-head{
        width: 400px;
        font-size: 49px2;
        line-height: 70px;
    }
    .home-part-1-para{
        width: 400px;
    }
    .home-part-1-content{
        top: 31%;
    }
   .home-part-2-one{
    top: 13%;
    right: 3%;
   }
   .home-part-2-two{
    top: 38%;
    right: 0%;
   }
   .home-part-3-content-1 h2{
    width: 500px;
    font-size: 35px;
}
.home-part-3-content-1 p{
    width: 500px;
    font-size: 11.6px;
}
.home-part-5-content-head h1{
    font-size: 35px;
}
.home-part-5-content-head p{
    width: 400px;
    font-size: 11px;
}
.home-part-6-content-head h1{
    font-size: 35px;
}
.home-part-6-content-head p{
    width: 400px;
    font-size: 11px;
}
.home-part-6-content-head{
    text-align: center;
    margin-top: -180px;
}
.home-part-7-content-head h1{
    font-size: 35px;
}
.home-part-7-content-head p{
    width: 400px;
    font-size: 11px;
}
.home-part-8-content-head h1{
    font-size: 35px;
}
.home-part-8-content-head p{
    width: 400px;
    font-size: 11px;
}
.part-5-down img{
    margin-top: -100px;
    height: 320px;
}.home-part-6-content-leftside{
    margin-top: 30px;
    height: 300px;
}
.footer-end{
    margin-left: 100px;
}
.footer-end{
    margin-left: 170px;
}
}

@media (max-width:525px) {
    .home-part-1-head{
        width: 370px;
        font-size: 44px;
        line-height: 68px;
    }
    .home-part-1-para{
        width: 370px;
    }
    .home-part-1-content{
        left: 8%;
    }
    .home-part-3-content-1 h2{
        width: 400px;
        font-size: 29px;
    }
    .home-part-3-content-1 p{
        width: 400px;
        font-size: 10.4px;
    }
  .part-4-rs-one p{
    width: 300px;
    font-size: 14px;
  }
  .part-4-rs-two p{
    width: 300px;
    font-size: 14px;
  }
  .part-4-rs-three p{
    width: 300px;
    font-size: 14px;
  }
  .home-part-4-content-left-head{
    width: 320px;
  }
  .home-part-4-content-left-head p{
    width: 100%;
  }
  .home-part-4-content-left{
    width: 380px;
}
.part-5-row-1{
    width: 250px;
}
.part-5-row-2{
    width: 250px;
}
.part-5-col-one{
    width: 180px;
    height: 180px;
}
.part-5-col-one-content{
    top: 55%;
}
.footer-end{
    margin-left: 110px;
}
.slide {
    min-width: 200px;
    margin: 0px 25px;
     }
}

@media (max-width:473px) {
    .home-part-4-content-left{
        width: 330px;
    }
    .part-4-rs-one p{
        width: 260px;
      }
      .part-4-rs-two p{
        width: 260px;
      }
      .part-4-rs-three p{
        width: 260px;
      }
      .home-part-4-content-left-head{
        width: 300px;
      }
      .home-part-4-content-left-head p{
        width: 100%;
      }
      .part-4-lf-one img{
        height: 70px;
      }
      .part-4-lf-two img{
        height: 50px;
      }
      .home-part-5-content-head h1{
        font-size: 30px;
    }
    .home-part-5-content-head p{
        width: 360px;
        font-size: 10px;
    }
    .home-part-6-content-head h1{
        font-size: 30px;
    }
    .home-part-6-content-head p{
        width: 360px;
        font-size: 10px;
    }.home-part-7-content-head h1{
        font-size: 30px;
    }
    .home-part-7-content-head p{
        width: 360px;
        font-size: 10px;
    }
    .home-part-8-content-head h1{
        font-size: 30px;
    }
    .home-part-8-content-head p{
        width: 360px;
        font-size: 10px;
    }
    .footer-end{
        margin-left: 79px;
    }
}

@media (max-width:420px) {
    .home-part-1-head{
        width: 340px;
        font-size: 39px;
        line-height: 67px;
    }
    .home-part-1-para{
        width: 340px;
    }
    .home-part-1-content{
        left: 7%;
    }
    .home-part-3-content-1 h2{
        width: 370px;
        font-size: 26px;
    }
    .home-part-3-content-1 p{
        width: 370px;
        font-size: 10px;
    }
    .footer-end{
        margin-left: 50px;
    }
}

@media (max-width:390px) {
    .home-part-4-content-left{
        width: 300px;
    }
    .part-4-rs-one p{
        width: 230px;
      }
      .part-4-rs-two p{
        width: 230px;
      }
      .part-4-rs-three p{
        width: 230px;
      }
      .home-part-4-content-left-head{
        width: 270px;
      }
      .home-part-4-content-left-head p{
        width: 100%;
      }
      .home-part-5-content-head h1{
        font-size: 27px;
    }
    .home-part-5-content-head p{
        width: 300px;
        font-size: 10px;
    }
    .home-part-6-content-head h1{
        font-size: 27px;
    }
    .home-part-6-content-head p{
        width: 300px;
        font-size: 10px;
    }
    .home-part-7-content-head h1{
        font-size: 27px;
    }
    .home-part-7-content-head p{
        width: 300px;
        font-size: 10px;
    }
    .home-part-8-content-head h1{
        font-size: 27px;
    }
    .home-part-8-content-head p{
        width: 300px;
        font-size: 10px;
    }
    .footer-end{
        margin-left: 40px;
    }
}

@media (max-width:375px) {
    .home-part-1-head{
        width: 280px;
        font-size: 34px;
        line-height: 50px;
    }
    .home-part-1-para{
        width: 280px;
    }
    .home-part-1-content{
        left: 6%;
    }
    .home-part-3-content-1 h2{
        width: 300px;
        font-size: 20px;
    }
    .home-part-3-content-1 p{
        width: 300px;
        font-size: 9px;
    }
    .part-4-left-side{
        margin-right: 4px;
    }
    .part-8-col-one{
        width: 270px;
        height: 220px;
      }
      .part-8-col-one-content{
       width: 230px;
       height: 130px;
      }
      .part-8-col-one-content-2{
        font-size: 15px;
        margin-top: 5px;
    margin-bottom: 5px;
      }
      .home-part-8-content{
        width: 290px;
  }
  .footer-end{
    margin-left: 20px;
  }
}

@media (max-width:350px) {
    .home-part-4-content-left{
        width: 270px;
    }
    .part-4-rs-one p{
        width: 210px;
      }
      .part-4-rs-two p{
        width: 210px;
      }
      .part-4-rs-three p{
        width: 210px;
      }
      .home-part-4-content-left-head{
        width: 250px;
      }
      .home-part-4-content-left-head p{
        width: 100%;
      }
      .footer-end{
        margin-left: 15px;
      }
}